
:root {
    --font-200: forma-djr-banner, sans-serif;
    font-weight: 200;
    font-style: normal;
    
    --font-400: forma-djr-banner, sans-serif;
    font-weight: 400;
    font-style: normal;

    --font-700: forma-djr-banner, sans-serif;
    font-weight: 700;
    font-style: normal;

    --font-900: forma-djr-banner, sans-serif;
    font-weight: 900;
    font-style: normal;
}

*,
*::before
*::after {
    box-sizing: border-box;

}


body {
    padding: 0;
    margin: 0;
    

    
    
    
}

.hero-container {
    display: flex;
    flex-direction: column;
   
    align-items: center;
    background-image: url(images/heroimage.svg), url(images/noise.png);
    background-repeat: no-repeat, repeat;
    background-size: cover, auto;
    background-position: bottom;
    
    background-color: beige;
    min-height: 800px;
    width: 100%;
    margin-bottom: 0rem;
    padding-bottom: 10rem;
    

}

.hero-item {
    /*background-color: rgb(68, 127, 255);*/
   
    display: grid;
    align-items: center;
    justify-items: center;
    padding: 1rem 1rem;
    width: min(90%, 50rem);
  
}

.hero-text {
    margin: 5rem 1rem 0 1rem;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 4rem;
    font-family: var(--font-400);
    font-weight: 800;
    animation: heroTextAnimate ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    }

    @keyframes heroTextAnimate {
        0% {
            opacity: 0;
            transform: translate(0, 20px);
        }
    
        100% {
            opacity: 1;
            transform: (0);
        }
    }

p {
    color: rgb(255, 255, 255);
    font-family: var(--font-900);
    font-weight: 500;
    font-size: 1.5rem;
    text-align: center;
    padding: 0;
    animation: paragraphTextAnimate ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes paragraphTextAnimate {
    0% {
        opacity: 0;
        transform: translate(0, 20px);
    }

    100% {
        opacity: 1;
        transform: (0);
    }
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    
}


.info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(images/noise.png);
    padding-top: 5rem;

}


.simple-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgb(255, 255, 255);
        height: 100vh;
        width: 100%;
        margin-top: 0rem;
        padding-top: 0px;
        
}

.logo-text {

    margin: 5rem 1rem 0 1rem;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 2rem;
    font-family: var(--font-400);
    font-weight: 500;
    
}

.simple-text {
    font-family: var(--font-400);
    font-size: 7rem;
    margin: 2rem 1rem 1rem 1rem;

}

.floating-nav {
    /*background-color: rgb(155, 155, 155);*/
    position: fixed;
    left: 0;
    top: auto;
    right: 0;
    bottom: 0;
    width: 100%;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    animation: fadeInAnimate ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimate {
    0% {
        opacity: 0;
        transform: translate(0, 10px);
    }

    100% {
        opacity: 1;
        transform: (0);
    }
}


nav {
    background-color: rgb(255, 255, 255);
    padding: 1.5rem;
    border-radius: 100vh;
}

.floating-nav-link {
    color: rgb(15, 15, 15);
    padding: 1rem 2rem;
    text-decoration: none;
    border-radius: 100vh;
    font-size: 1rem;
    font-family: var(--font-400);
    font-weight: 500;
}



a:hover {
    background-color: black;
    color: white;
    opacity: 100%;
    /*transition: opacity 1s;;*/
   
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    align-items: center;
    justify-content: center;
    margin: 5rem auto;
    width: min(90%, 75rem);
    
    

   
}
    
  
.grid-box {
    display: grid;
    background-color: black;
    padding: 3rem;
    margin: .5rem;
    max-width: 370px;
    
    
   
    
}

