
*,
*::before
*::after {
    box-sizing: border-box;
}


body {background-color: black; }
h1 {color: #36c2ff;}
h2 {color: #36c2ff; font-family: 'acumin-pro-condensed', sans-serif; font-size: 1.75rem;}
h3 {color: #36c2ff; font-family: 'acumin-pro-condensed', sans-serif; font-size: .85rem;}
p {color: #36c2ff; font-family: 'acumin-pro-condensed', sans-serif; font-size: 1.5rem; }




header {
        display: flex;
        justify-content: center;
        align-items: center; 
        animation: fadeInAnimate ease 1s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }

    

@keyframes fadeInAnimate {
    0% {
        opacity: 0;
        transform: translate(0, 10px);
    }

    100% {
        opacity: 1;
        transform: (0);
    }
}

section, footer {
    animation: fadeInAnimate ease 2s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
}

@keyframes fadeInAnimate {
    0% {
        opacity: 0;
        transform: translate(0, 10px);
    }

    100% {
        opacity: 1;
        transform: (0);
    }
}

footer {
        display: flex;
        justify-content: center;
        align-items: center; 
        flex-direction: column;
        
    }

/*.blink {
        animation: blink-animation 1s steps(5, start) infinite;
        -webkit-animation: blink-animation 1s steps(5, start) infinite;
      }
      
      @keyframes blink-animation {
        to {
          visibility: hidden;
        }
      }
      @-webkit-keyframes blink-animation {
        to {
          visibility: hidden;
        }
      } */



.center {
    display: flex;
    justify-content: center;
    align-items: center; 
}

.split {
    display: flex;
    justify-content: center;
    align-items: center;
    
    
 }



 .iframe-container {
    margin-top: 2rem;
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    height: 0;
   
   
  }


  .iframe-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    
  }

.video-section { 
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 80%;
    margin: auto auto;
    padding-top: 2rem;
    

}


.footer-icon {
    display: block;
    max-width: 100%;
    align-items: center;
    padding: 2rem;
    
}





.red-text{
    color: #ff5341
}

.yellow-text {

    color: #f79e28
}
.lastbot {
    width: 100%;
}

body,
h1,
h2,
h3,
p {margin: 0;}

h1,
h2,
h3 {
    margin-bottom: 1em;
}

header,
section,
footer {
    padding:  1rem 1rem 5rem 1rem;

}

/*section  {
    border-top: 1px solid #36c2ff;
}*/



.container { 
    margin: 1rem auto;
    width: min(97%, 70.5rem);
    display: flex;
    justify-content: center;
    align-items: center; 
    
   }

.story {
    margin: 0 auto;
    width: max(50%);
    border-bottom: 2px solid #36c2ff;

}



.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
   
    
    margin: 5rem auto;
    width: min(90%, 75rem);
    
    

   
}
    
  
.grid-box {
    align-items: center;
    justify-content: center;
    background-color: black;
    padding: 2rem;
    margin: 1rem auto 3rem auto;
    max-width: 370px;
    
    text-align: center;
}

.info-icon {
    margin: 1rem auto 1rem auto;
    padding-bottom: 2rem; 
    
}






@media (max-width: 40em) {
    .story {
        width: max(85%);}

    header,
    section {
        padding:  1rem;
        }

    .saulgoodlogo {
        width: 60%;
        }

    .august {
        width: 60%;
             }  
             
    p {
        font-size: 1.5rem;
                     }

    h2 {
        padding: .10rem;
                             }    

    .video-section {
        width: 95%;
    }
}

      